html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    color: $dark-grey;
    line-height: 1.6;
    // background-color: whitesmoke;
    // background-image: url("https://transparenttextures.com/patterns/cubes.png");
    // margin: $m-size;
}

a {
    text-decoration: none;
    color: $dark-grey;
}

* {
    box-sizing: border-box;
}